a {
  text-decoration: none;
  color: black;
}
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90vw;
  margin: auto;
}
.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstLine {
  font-size: 28px;
}
.secondLine {
  font-size: 38px;
}
.thirdLine {
  font-size: 28px;
}
.aboutImage {
  width: 300px;
  position: absolute;
  left: 320px;
  transition: 3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.techStack {
  font-size: 50px;
  width: 250px;
  height: 40vh;
  position: absolute;
  z-index: 3;
  left: 0;
  transition: 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city:hover {
  cursor: pointer;
}
.aboutWord {
  font-size: 65px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
    margin: auto;
  }
  .aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstLine {
    font-size: 15px;
  }
  .secondLine {
    font-size: 18px;
  }
  .thirdLine {
    font-size: 15px;
  }
  .aboutWord {
    font-size: 25px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .aboutText {
    /* display: flex; */
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 150vw;
    height: 220px;
    margin: auto;
  }
}
