.contactHeading {
  width: fit-content;
  margin: auto;
}
.contactHeading > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: "270px",
}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
}
input:focus {
  outline: none;
}
.inputArea {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.messageInput {
  width: 580px;
  padding-top: 10px;
  text-align: center;
}
.inputText {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.contactFirst {
  font-size: 50px;
  color: rgb(78, 78, 233);
  margin: 0;
  padding-left: 87px;
}
.contactSecond {
  font-size: 26px;
  margin-top: 10px;
}
.contactThird {
  display: flex;
  margin: 10px;
}
.shoot {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: hwb(0 97% 2%);
  font-weight: 700;
  margin-bottom: 40px;
}
.shoot:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 252);
  transition: all 1s ease;
}
.contactWord {
  font-size: 65px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .contactWord {
    font-size: 25px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contactFirst {
    font-size: 18px;
    color: rgb(78, 78, 233);
    width: fit-content;
    margin: auto;
    padding: 0px;

  }
  .contactSecond {
    font-size: 15px;
    margin-top: 10px;
    width: 100vw;
  }
  .contactThird {
    display: block;
    margin: 10px;
  }
  .contactHeading {
    width: 100vw;
    margin: 0px;
  }
  input {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    width: 82vw;
  }
  input:focus {
    outline: none;
  }
  .inputArea {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .messageInput {
    width: 85vw;
    padding-top: 10px;
    text-align: center;
  }
  .inputText {
    display: flex;
    justify-content: center;
    font-size: 18px;
  }
  .shoot {
    width: 80px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
    background-color: hwb(0 97% 2%);
    font-weight: 700;
    margin-left : 57px;
  }
  .shoot:hover {
    cursor: pointer;
    background-color: rgb(176, 176, 252);
    transition: all 1s ease;
  }
}
