.mainContainer {
  width: 85vw;
  background-color: white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  right: 2px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.imageParent {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
}
.textTag {
  width: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.imageBase {
  width: 600px;
  position: absolute;
  transition: all 1.5s ease;
}

.imageBase:nth-child(2) {
  --mask-grad: 50%;
  --mask-size: 103%;
  -webkit-mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent 0% 100%
  );
  -moz-mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent 0% 100%
  );
  mask-image: linear-gradient(
    270deg,
    black 0 var(--mask-grad),
    transparent 0% 100%
  );
  -webkit-mask-size: var(--mask-size);
}
.textLeft {
  right: 70px;
}
.textLeft:hover {
  cursor: pointer;
}
.textRight {
  left: 70px;
}
.textRight:hover {
  cursor: pointer;
}
.icons {
  width: 40px;
  padding: 10px;
}
.name {
  width: 500px;
  position: absolute;
  top: 100px;
  left:calc(42vw);
  font-size: 35px;
  z-index: 3;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 10s;
  animation-timing-function: steps(200, end);
  /* animation-fill-mode: forwards; */
}
.hidden{
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}