.NavMainContainer {
  height: 90px;
  width: 100vw;
  background-color: #111;
  color: white;
}
.NavContainer > a {
  color: white;
  cursor: pointer;
}
.NavContainer {
  width: 90vw;
  display: grid;
  grid-template-columns: 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr 0.3fr;
  font-size: 25px;
  margin: auto;
  align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 2;
}
.NavIcon {
  width: 110px;
  /* position: relative;
  left: 40px;
  top: 9px; */
}
.Social {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding-left: 50px;
  align-items: center;
}
.SocialLogo {
  width: 45px;
  display: block;
  align-items: center;
}
.Social :hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .NavMainContainer {
    height: 10vh;
    width: 100vw;
    background-color: #111;
    color: white;
    padding-top: 0px;
  }
  .NavContainer > div > a {
    color: white;
    cursor: pointer;
    display: block !important;
  }
  .NavContainer > div {
    justify-content: center;
  }
  .NavContainer {
    width: 90vw;
    height: 10vh;
    display: flex;
    font-size: 25px;
    text-align: center;
    justify-content: space-between;
  }
  .NavContainer > div > a {
    padding: 30px;
  }
  .NavIcon {
    width: 80px;
  }
  .MenuIcon {
    width: 40px;
  }
  .Social {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    padding: 30px;
  }
  .SocialLogo {
    display: block;
    margin: auto;
  }
  .Social :hover {
    cursor: pointer;
  }
}
