.projectContainer {
  display: flex;
  /* grid-template-columns: 1.5fr 1fr; */
  padding: 20px;
  width: 65vw;
  height: 250px;
  margin: auto;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  text-align: center;
}
.projectImage {
  width: 400px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 10px;
}
.projectTech {
  position: relative;
  top: 10px;
  margin-left: 10px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.projectButton {
  position: relative;
  top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}
